* {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-self: center;
}

body  {
    background-image: url("background2.jpg");
}

h1, h2, h3 {
    align-self: center;
    background-color: white;
}

p {
    color: white;
    background-color: blueviolet;
    font-size: 20px;
}

.pages {
    align-items: flex-start;
}

